.tableHeading {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

.container {
  margin: 8px;
  height: 100vh;
  overflow: auto;
}
@media print {
  .container{
    margin: 8px;
    height: none;
    overflow: visible;
  }
}
.buttonContainer{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 8px;
}

@media print {
    .buttonContainer{
        display: none;
    }
}

.list{
    max-height: 60%;
    overflow-y: scroll;
}
@media print {
  .list{
    max-height: none;
    overflow-y: visible;
  }
}

